{
    "openapi": "3.0.0",
    "info": {
        "title": "reCAPTCHA",
        "version": "3.0.0",
        "contact": {
            "name": "Saeed Pourcheragh",
            "email": "s.pourcheragh@wallex.net",
            "url": "https://wallpay.org"
        },
        "description": "reCAPTCHA v3 returns a score for each request without user friction. The score is based on interactions with your site and enables you to take an appropriate action for your site. Register reCAPTCHA v3 keys on the reCAPTCHA Admin console."
    },
    "paths": {
        "/siteverify": {
            "post": {
                "summary": "Verify User Response",
                "description": "Verify a user's response to a reCAPTCHA challenge.",
                "externalDocs": {
                    "url": "https://developers.google.com/recaptcha/docs/verify#api_request",
                    "description": "API Request"
                },
                "parameters": [],
                "operationId": "",
                "responses": {
                    "200": {
                        "description": "API Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyResponse"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Verify"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyRequest"
                            }
                        }
                    },
                    "description": "POST Parameter"
                },
                "security": []
            }
        }
    },
    "externalDocs": {
        "url": "https://developers.google.com/recaptcha/docs/v3",
        "description": "Verifying the user's response\n\nThis page explains how to verify a user's response to a reCAPTCHA challenge from your application's backend.\n\nFor web users, you can get the user's response token in one of three ways:\n\n- g-recaptcha-response POST parameter when the user submits the form on your site\n- grecaptcha.getResponse(opt_widget_id) after the user completes the reCAPTCHA challenge\n- As a string argument to your callback function if data-callback is specified in either the g-recaptcha tag attribute or the callback parameter in the grecaptcha.render method\nFor Android library users, you can call the SafetyNetApi.RecaptchaTokenResult.getTokenResult() method to get response token if the status returns successful.\n\nToken Restrictions\nEach reCAPTCHA user response token is valid for two minutes, and can only be verified once to prevent replay attacks. If you need a new token, you can re-run the reCAPTCHA verification.\n\nAfter you get the response token, you need to verify it within two minutes with reCAPTCHA using the following API to ensure the token is valid."
    },
    "security": [],
    "servers": [
        {
            "url": "https://www.google.com/recaptcha/api",
            "description": ""
        }
    ],
    "components": {
        "links": {},
        "callbacks": {},
        "schemas": {
            "VerifyRequest": {
                "type": "object",
                "required": [
                    "secret",
                    "response"
                ],
                "properties": {
                    "secret": {
                        "type": "string",
                        "description": "The shared key between your site and reCAPTCHA."
                    },
                    "response": {
                        "type": "string",
                        "description": "The user response token provided by the reCAPTCHA client-side integration on your site."
                    },
                    "remoteip": {
                        "type": "string",
                        "description": "The user's IP address."
                    }
                }
            },
            "VerifyResponse": {
                "type": "object",
                "required": [
                    "success"
                ],
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "challenge_ts": {
                        "type": "string",
                        "format": "date-time",
                        "description": "timestamp of the challenge load.",
                        "example": "yyyy-MM-dd'T'HH:mm:ssZZ"
                    },
                    "hostname": {
                        "type": "string",
                        "description": "the hostname of the site where the reCAPTCHA was solved"
                    },
                    "error-codes": {
                        "type": "array",
                        "items": {}
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Verify"
        }
    ]
}
